/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
    --animation-duration: 300ms;

}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Pretendard', serif;

    /*마우스를 텍스트에 올려도 기본 지정모양*/
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}

.section__container {
    margin: auto;
    max-width: 1200px;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    /*블럭 레벨이여서 박스 두개하기위해 플랙스*/
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
    padding: 8px;
}

.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/* home */

.home {
    background: url("../src/assets/imgs/home_background.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 120px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: var(--size-border-radius);
    color: var(--color-white);
}

.home__contact:hover {
    background-color: var(--color-orange);
}
/*about*/

.about__majors {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

.major {
    display: flex;
    justify-content: space-between;
}

.major__icon {
    font-size: 40px;
    width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.major__icon:hover {
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
    transition: all var(--animation-duration) ease
}

.major__label {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: left;
}

.major__value {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-dark-grey);
}

/*skill*/
.skills {
    background-color: #f9c51d;
}

.skills__content {
    width: 100%;
    max-width: 71.25rem;
    padding: 2rem;
    margin: auto;
    height: 88rem;
}

.stack__container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    height: calc(100% - (7.5rem + 1px));
}

.stacks__tech {
    width: 17rem;
    margin: 0 auto 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1rem 1rem 1rem 0 rgb(68 68 68 / 20%);

    transform: translateY(10px);
    transition: all var(--animation-duration) ease;
}

.stacks__tech:hover {
    transform: translateY(0px);
}

.skills__title {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    color: #f4623a;
}

.skills_img {
    display: block;
    width: 100%;
}

/*work*/

.work__categories {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;

    /* line-height ?? */
    line-height: 24px;

    /*span은 컨텐츠를 타이트하게 감싸주기 때문에 inline-block으로 바꿈*/
    display: inline-block;

    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all var(--animation-duration) ease-out;
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-yellow);

    display: flex;
    justify-content: center;
    align-items: center;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: #000;
    display: flex;

    /*flex-direction ??*/
    flex-direction: column;

    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white);
}

/*after ??*/
.project__description h3:after {
    content: '';
    width: 25px;

    /*한줄에 하나씩*/
    display: block;

    position: relative;
    left: 50%;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

.contact {
    background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.contact__rights {
    color: var(--color-white);
}

.contact__title {
    margin: 32px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__links svg:hover {
    transform: scale(1.5);
    color: var(--color-yellow);
    /*transition: all var(--animation-duration) ease-in;*/
}

.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    width: 70px;
    height: 70px;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 50%;

    opacity: 0;
    /*안보일때는 클릭 안되게*/
    pointer-events: none;

    transition: opacity 300ms ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    :root {
        /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
    }

    .navbar__toggle-btn {
        display: block;
        top: 16px;
        right: 16px;
        font-size: var(--font-medium);
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-pink);
    }

    #navbar.navbar--dark {
        padding: 16px;
    }

    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }

    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .major {
        justify-content: left;
        margin-bottom: 38px;
    }

    .skills__content {
        height: 100%;
    }

    .stack__container {
        flex-direction: column;
    }

    .project {
        flex-grow: 1;
    }
    .arrow-up {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        right: 16px;
        bottom: 16px;
    }

}

@font-face {
    font-family: 'NotoSans';
    src: url("assets/fonts/NotoSansKR-Light.otf");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: 'Pretendard';
    src: url("assets/fonts/Pretendard-Medium.woff2") format('woff2');
    font-weight: normal;
    font-display: block;
}
